<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit <%= bikeroute.title%> </h1>
            <form action = "/bikeroutes/<%=bikeroute._id%>?_method=PUT" method = "POST">
                <div class="col-md-4" style="width: 30%; margin: 25px auto;">
                    <div class="form-group">
                        <input class="form-control" type="text" name="bikeroute[title]" value="<%= bikeroute.title%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="bikeroute[image]" value="<%= bikeroute.image%>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block"> Submit </button>
                    </div>               
                    <button class="btn btn-danger btn-sm btn-block" formaction = "/bikeroutes/<%=bikeroute._id%>?_method=DELETE" method = "POST">Delete this post</button>                    
                </div>               
                <div class="col-md-8" style="margin: 25px auto;">
                    <div class="form-group">
                        <textarea rows="30" class="form-control" type="text" name="bikeroute[description]"><%= bikeroute.description%></textarea>
                    </div>
                </div>
            </form>
    </div>
</div>
<!--
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a new Bike Route </h1>
            <form action = "/bikeroutes" method = "POST">
                <div class="col-md-4" style="width: 30%; margin: 25px auto;">
                    <div class="form-group">
                        <input class="form-control" type="text" name="bikeroute[title]" value="<%= bikeroute.title%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="bikeroute[image]" value="<%= bikeroute.image%>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block"> Submit </button>
                    </div>
                </div>
                <div class="col-md-8" style="margin: 25px auto;">
                    <div class="form-group">
                        <textarea rows="10" class="form-control" type="text" name="bikeroute[description]" value="<%= bikeroute.description%>"></textarea>
                    </div>
                </div>
            </form>            
    </div>
</div>


<div class="form-group">
                    <input class="form-control" type="text" name="bikeroute[title]" value="<%= bikeroute.title%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="bikeroute[image]" value="<%= bikeroute.image%>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="bikeroute[description]" value="<%= bikeroute.description%>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block"> Submit </button>
                </div>

-->

<% include ../partials/footer %>