<% include ../partials/header %>

<div class="container">
    <h1>show template</h1>

    <p><%=bikeroute.title%></p>

    <img src= "<%=bikeroute.image%>">

    <p><%=bikeroute.description%></p>


    <% bikeroute.comments.forEach(function(comment){ %>
        <p>
            <strong><%= comment.author %></strong> - <%= comment.text %>
        </p>
    <% }) %>

    <button href="/bikeroutes/<%=bikeroute._id%>/comments/new" class="btn btn-primary">New Comment</button>
    
</div>
<% include ../partials/footer %>