<% include ../partials/header %>

<div class="container">
    <div class="row">
        <!-- <div class="col-md-3">                      ==== MAP INFORMATION =====
            <p class="lead">BikeRoutes</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div> -->
        <div class="col-md-12">
            <p class="lead">
                <strong>
                    <%=bikeroute.title%> by <em><%=bikeroute.author.username%></em>
                </strong>
                <% if(currentUser && bikeroute.author.id.equals(currentUser._id)) { %>
                    <a href="/bikeroutes/<%= bikeroute._id%>/edit" class="btn btn-warning pull-right">Edit</a></p>
                <% } %>
            <div class="thumbnail postImages">
                <img class="img-responsive routeImage" src= "<%=bikeroute.image%>">
            </div>
            <div class="well bgColorShowPage">
                <p id="textForward"><%=bikeroute.description%></p>
            </div>
            <div class="well bgColorShowPage">
                <% bikeroute.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12 well bgColorShowPage">
                            <strong id="textForward"><%= comment.author.username %> :</strong>                            
                            <p id="delete-form">
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a class="btn btn-xs btn-warning" href="/bikeroutes/<%= bikeroute._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                <form id="delete-form" action="/bikeroutes/<%= bikeroute._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
                <hr>
                <a href="/bikeroutes/<%=bikeroute._id%>/comments/new"><button class="btn btn-primary">New Comment</button></a>
            </div>
        </div>

    </div>

</div>
<% include ../partials/footer %>