<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">BikeRoutes</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <p class="lead"><strong><%=bikeroute.title%></strong></p>

            <div class="thumbnail">
                <img class="img-responsive" src= "<%=bikeroute.image%>">
            </div>
            <div class="well">
                <p><%=bikeroute.description%></p>
            </div>
            <div class="well">
                <% bikeroute.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                        </div>
                    </div>
                <% }) %>
                <hr>
                <a href="/bikeroutes/<%=bikeroute._id%>/comments/new"><button class="btn btn-primary">New Comment</button></a>
            </div>
        </div>

    </div>

</div>
<% include ../partials/footer %>